h1,
h3,
h2 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h5 {
  color: black;
}

a {
  color: black;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

h4 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
}
